@using SARDT.Models
@model VideoVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage video displayed on home page</h2>

@if (Model.CurrentVideos == null)
{
    <h3 class="text-danger">No Current Video is set</h3>
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            URL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AllVideos) {
    <tr>
        <td>
            @Html.DisplayFor(listItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(listItem => item.URL)
        </td>
        <td>
            @if (Model.CurrentVideos != null)
            { 
                if (Model.CurrentVideos.CurrentVideo.ID != item.ID)
                { 
                    @Html.ActionLink("Set Active Video ", "SetCurrent", new { id = item.ID });
                }
                else
                {
                    @Html.LabelForModel("Active Video");
                }
            }
            else
            {
                @Html.ActionLink("Set Active Video ", "SetCurrent", new { id = item.ID });
            }
            @Html.LabelForModel(" | ")
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add New Video", "Create")
</p>