<!DOCTYPE html>
@{
    string page = @ViewBag.Title;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this site -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome core -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>

<body>

    <div class="container">
        <!-- The menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
        <div class="masthead">
            
            <h3 class="text-muted">Lane County Search and Rescue Dive Team</h3>
            @switch(page)
            {
                case "Home":
                        <nav>
                            <ul class="nav nav-justified">
                                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                    break;
                case "Team":
                        <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="active"><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                case "History":
                        <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li class="active"><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                case "Member":
                        <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                case "Donate":
                        <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li class="active"><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                case "Application":
                       <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li class="active"><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                case "Contact":
                       <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li class="active"><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;


                default:
                       <nav>
                            <ul class="nav nav-justified">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Team", "Home")">Team</a></li>
                                <li><a href="@Url.Action("History", "Home")">History</a></li>
                                <li><a href="@Url.Action("Donate", "Home")">Donate</a></li>
                                <li><a href="@Url.Action("Application", "Home")">Application</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("LogOut", "Auth")">LogOut</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                                    }
                                 }
                            </ul>
                        </nav>
                break;
                
            }

        </div>
        <!-- Jumbotron -->
        <div class="jumbotron">
         <!--   <div class="Social">
                <i class="fa fa-facebook-square fa-2x"></i>
                <i class="fa fa-twitter-square fa-2x"></i>
                <i class="fa fa-youtube-square fa-2x"></i>
            </div>
             -->
            @RenderBody()
        </div>

            <!-- Site footer -->
            <footer class="footer">
                <p>&copy;2016 Lane Co. Search and Rescue</p>
            </footer>

        </div> <!-- /container -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>