@model SARDT.Models.Member

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @if (Model.Name == null || Model.Name == "")
            {
                @Html.Display("Not Set", new { @class = "label label-warning"})
            }
            else
            {
                @Html.DisplayFor(model => model.Name)
            }
        </dd>

        <dt>
            @Html.DisplayName("User Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>            
            @Html.DisplayName("Date-of-Birth")
        </dt>

        <dd>
            @if (Model.DOB == null || Model.DOB == 0)
            {
                @Html.Label("Not Set", new { @class = "label label-warning"})
            }
            else
            {
                @Html.DisplayFor(model => model.DOB)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>            
            @Html.DisplayName("Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>            
            @Html.DisplayName("Name of Emergency Contact")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>

        <dt>            
            @Html.DisplayName("Phone Number of Emergency Contact")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Profile", "EditProfile")
</p>
