@model SARDT.Models.CalendarVM
@using SARDT.Models

@{
    ViewBag.Title = Model.Month.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Area</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Event Calendar</div>
    <div class="panel-body">
        <h3>@Model.Month.Name @Model.Year</h3>

<nav>
    <ul class="pager">
        <li class="previous pager-text"><a href="@Url.Action("PreviousMonth", "Calendar" , new { year=Model.Year, month=Model.Month.Num})"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next pager-text"><a href="@Url.Action("NextMonth", "Calendar" , new { year=Model.Year, month=Model.Month.Num })">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>


<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th class="text-center">
                @Html.LabelForModel("Sunday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Monday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Tuesday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Wednesday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Thursday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Friday")
            </th>
            <th class="text-center">
                @Html.LabelForModel("Saturday")
            </th>
        </tr>
    @{
        foreach (var item in Model.Month.Days)
        {   
            if (item.Date.Day == 1)
            {
                @:<tr>
                for(int i = 0; i < (int)item.Date.DayOfWeek; i++)
                {
                    @:<td></td>
                }
            }
            if (item.Date.Month == DateTime.Today.Month && item.Date.Day == DateTime.Today.Day)
            { 
                @:<td class="alert-info">
            }
            else
            {
                @:<td>
            }
                @item.Date.Day <br/>
                        if (item.Events.Count > 0)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @item.Events.Count Event(s)<span class="caret"></span>
                                </button><ul class="dropdown-menu">
                                    @for (int i = 0; i < item.Events.Count; i++)
                                    {
                                        Event CurrentEvent = item.Events[i];
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new { id=CurrentEvent.EventID })">
                                                @Model.ParseMilitaryAsNormalTime(CurrentEvent.StartTime) - @Model.ParseMilitaryAsNormalTime(CurrentEvent.EndTime): @CurrentEvent.EventTitle
                                            </a>
                                        </li>
                                    }
                                    @if (HttpContext.Current.User.IsInRole("Moderator") && (item.Date >= DateTime.Today))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Create", "Event", new { month=item.Date.Month, day=item.Date.Day, year=Model.Year })">Add New Event</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            if (HttpContext.Current.User.IsInRole("Moderator") && (item.Date >= DateTime.Today))
                            { 
                                <button type="button" class="btn" onclick="location.href = '@Url.Action("Create", "Event", new { month=item.Date.Month, day=item.Date.Day, year=Model.Year })';">Add Event</button>
                            }
                            else
                            {
                                <br/>
                            }
                        }

            @:</td>
            if ((int)item.Date.DayOfWeek == 6 && item.Date.Month != Model.Month.DaysInMonth)
            {
                @:</tr>
                @:<tr>
            }
                if (item.Date.Day == Model.Month.DaysInMonth)
                {
                    for (int i = (int)item.Date.DayOfWeek; i < 6; i++)
                    {
                        @:<td></td>
                    }
                        @:</tr>
                }
                    }
                    }
            </table>
        </div>
    </div>
 </div>

        @if (HttpContext.Current.User.IsInRole("Moderator"))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">Content</div>
                <div class="panel-body">
                    <a href="@Url.Action("EditText", "WebContent")">Edit Text</a><br />
                    <a href="@Url.Action("WebImageIndex", "WebContent")">Edit Images</a><br />
                    <a href="@Url.Action("Index", "Videos")">Edit Videos</a><br />
                    <a href="@Url.Action("UploadNewApplication", "WebContent")">Upload New Application Form</a><br />
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Member Management</div>
                <div class="panel-body">
                    <a href="@Url.Action("Register", "Auth")">Register a new Member</a><br />
                    <a href="@Url.Action("ManageUserRoles","Auth")">Manage User Roles</a><br />
                    <a href="@Url.Action("SystemSend", "Messages")">Send Message to Team Members</a><br />
                    <a href="@Url.Action("EditProfile", "Auth")">Edit My Profile</a><br />
                </div>
            </div>
        }
        else
        {
            <a href="@Url.Action("EditProfile", "Auth")">Edit My Profile</a><br />
            <br />
        }
