@model SARDT.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventType", string.Empty)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EventDate">Event Date</label>
            <div class="col-md-10">
                @if (Model == null)
                { 
                    <input class="text-box single-line" data-val="true" data-val-date="The field EventDate must be a date." data-val-required="The EventDate field is required." id="EventDate" name="EventDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")"  />
                }
                else
                {
                    <input class="text-box single-line" data-val="true" data-val-date="The field EventDate must be a date." data-val-required="The EventDate field is required." id="EventDate" name="EventDate" type="date" value="@Model.EventDate.ToString("yyyy-MM-dd")"  />
                }
                <span class="field-validation-valid" data-valmsg-for="EventDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventTitle)
                @Html.ValidationMessageFor(model => model.EventTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChangedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastChangedOn)
                @Html.ValidationMessageFor(model => model.LastChangedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChangeBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastChangeBy)
                @Html.ValidationMessageFor(model => model.LastChangeBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
