@model SARDT.Models.Event

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <p>@ViewBag.error</p>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EventID)

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EventDate">Event Date</label>
            <div class="col-md-10">
                <input class="text-box single-line" data-val="true" data-val-date="The field EventDate must be a date." data-val-required="The EventDate field is required." id="EventDate" name="EventDate" type="date" value="@Model.EventDate.ToString("yyyy-MM-dd")" />
                <span class="field-validation-valid" data-valmsg-for="EventDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventTitle)
                @Html.ValidationMessageFor(model => model.EventTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="LastChangedOn">LastChangedOn</label>
            <div class="col-md-10">
                <input class="text-box single-line" data-val="true" data-val-date="Last Changed On must be a date." data-val-required="The LastChangedOn field is required." id="LastChangedOn" name="LastChangedOn" type="date" value="@Model.LastChangedOn.ToString("yyyy-MM-dd")" />
                <span class="field-validation-valid" data-valmsg-for="EventDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChangeBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastChangeBy)
                @Html.ValidationMessageFor(model => model.LastChangeBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Calendar", "Index", "Calendar", new { year = Model.EventDate.Year, month = Model.EventDate.Month }, new { })
</div>
