@model SARDT.Models.WebImage

@{
    ViewBag.Title = "Add Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Images</h2>
@using (Html.BeginForm("AddImage",
                        "WebContent", new { id = Model.WebImageID },
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.WebImageID)
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.InUse)
    <br />
    <div class="row">
        <div class="col-sm-4 text-left">
            <label for="file">Upload Image</label>
        </div>
        <div class="col-sm-8 text-left">
            <input type="file" name="file" id="file" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4 text-left">
                @Html.LabelFor(model => model.Caption, new { @class = "control-label col-md-2" })
            </div>
            <div class="col-sm-8 text-left">
                @Html.EditorFor(model => model.Caption)
                @Html.ValidationMessageFor(model => model.Caption)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <input type="submit" value="Upload Image" />
    </div>
    <br>
    @ViewBag.Message
    <br />
}