@model IEnumerable<SARDT.Models.WebImage>

@{
    ViewBag.Title = "ChangeImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeImage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InUse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InUse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebImageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebImageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WebImageID })
        </td>
    </tr>
}

</table>
