@model IEnumerable<SARDT.Models.WebImage>

@{
    ViewBag.Title = "ChangeImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Image</h2>

@Html.ActionLink("Back to Active Images", "WebImageIndex")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            Preview
        </th>
        <th>Active Image</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            <img src="~/Images/@item.FileName" width="50" height="50"/>
        </td>
        <td>
            @{
                if (item.InUse == false)
                {
                    @Html.ActionLink("Set Active", "ChangeActive", new {newID = item.WebImageID, oldID = Model.First().WebImageID})
                }
            }
            
        </td>
        <td>
            @Html.ActionLink("Edit Caption For Image", "EditImage", new { id = item.WebImageID }) <br />
            
            @{
                if (item.InUse == false) 
                { 
                  @Html.ActionLink("Delete Image", "DeleteImage", new { id=item.WebImageID })
                }
            }
            
        </td>
    </tr>
}

</table>

@Html.ActionLink("Add Images", "AddImage")