
@{
    ViewBag.Title = "EditText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Text For:</h2>

<a href="@Url.Action("TextEditorIndex", "WebContent", new { pageName = "Application" })">Application Page</a> <br />
<a href="@Url.Action("TextEditorIndex", "WebContent", new { pageName = "Contact" })">Contact Info Page</a> <br />
<a href="@Url.Action("TextEditorIndex", "WebContent", new { pageName = "History" })">History Page</a> <br />
<a href="@Url.Action("TextEditorIndex", "WebContent", new { pageName = "Home" })">Home Page</a> <br />
<a href="@Url.Action("TextEditorIndex", "WebContent", new { pageName = "Team" })">Team Page</a>

<hr />
<a href="@Url.Action("WebImageIndex", "WebContent")">Web Images Index</a><br />
<a href="@Url.Action("Test", "WebContent")">View Test Home Page</a>
