@model SARDT.Models.WebText

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WebText</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.WebTextID)

        <!--Placeholders, these need set in the controller-->
        @Html.HiddenFor(model => model.LastChangeBy)
        @Html.HiddenFor(model => model.LastChangedOn)
        @Html.HiddenFor(model => model.Page)


        <div class="form-group">
            @Html.LabelFor(model => model.Page, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Page)
                @*@Html.EditorFor(model => model.Page)
                @Html.ValidationMessageFor(model => model.Page)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Section)
                @Html.ValidationMessageFor(model => model.Section)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "TextEditorIndex", new { pageName = Model.Page })
</div>
