@model IEnumerable<SARDT.Models.WebText>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChangedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChangeBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChangedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChangeBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebTextID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebTextID })
        </td>
    </tr>
}

</table>
