@model SARDT.Models.PublicVM

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
@Html.DisplayFor(model => model.textList[0].Body)

<h2>@Html.DisplayFor(model => model.textList[1].Section)</h2>
@Html.DisplayFor(model => model.textList[1].Body)

<h2>@Html.DisplayFor(model => model.textList[2].Section)</h2>
@Html.DisplayFor(model => model.textList[2].Body)

<figure>
    <img src="~/Images/@Model.imageList[0].FileName" width="100" height="100" />
    <figcaption>@Model.imageList[0].Caption</figcaption>
</figure>