@model IEnumerable<SARDT.Models.WebText>

@{
    ViewBag.Title = "TextEditorIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Text Editor for the @ViewBag.pageName Page</h2>

<table class="table col-sm-8">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Section)
        </th>
    @*
        <th>
            @Html.DisplayNameFor(model => model.Page)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChangedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChangeBy)
        </th>
    *@
        <th class="text-center">Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
    @*
        <td>
            @Html.DisplayFor(modelItem => item.Page)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChangedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChangeBy)
        </td>
    *@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebTextID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebTextID })
        </td>
    </tr>
}
</table>
@Html.ActionLink("Return to Page List", "EditText", "WebContent")