@model SARDT.Models.PublicVM
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-left">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[0].Body)</p>
    </div>
    <div class="col-sm-2">
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[1].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[1].Body)
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[2].Section):
    </div>
    <div class="col-sm-3">
        <a href="mailto:@Html.DisplayFor(model => model.textList[2].Body)">@Html.DisplayFor(model => model.textList[2].Body)</a>
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[3].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[3].Body)
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[4].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[4].Body)
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class="row text-left">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[5].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[5].Body)<br /> 
        @Html.DisplayFor(model => model.textList[6].Body), @Html.DisplayFor(model => model.textList[7].Body) @Html.DisplayFor(model => model.textList[8].Body) 
    </div>
    <div class="col-sm-3">
    </div>
</div>
    
<br />
<div class="row">

    <div class="wrapper">
        <div class="h_iframe">
            <iframe src="@Html.DisplayFor(model => model.textList[9].Body)" width="2" height="2"></iframe>
        </div>
    </div>
</div>
