@model SARDT.Models.PublicVM
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[0].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[0].Body)
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[1].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[1].Body)
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[2].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[2].Body)
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[3].Section):
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(model => model.textList[3].Body)
    </div>
    <div class="col-sm-6">
    </div>
</div>
