@model SARDT.Models.PublicVM

    @{
        ViewBag.Title = "Home";
    }

    <!-- Jumbotron -->
    <div class="jumbotron">
        <p>
            @if (Model.currentVideo != null && Model.currentVideo.URL != "ERROR")
            {
                <div class="wrapper">
                    <div class="h_iframe">
                        <iframe height="2" width="2" src="@Model.currentVideo.URL" frameborder="0"></iframe>
                    </div>
                </div>
            }
        </p>
    </div>

    <div class="row">
        <div class="col-sm-12 text-left">
            <h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[0].Body)</p>
        </div>
    </div>


    <div class="row">
        <div  class="col-sm-6 col-sm-push-6 text-left imgcontain imgright" style="background-image: url('../Images/@Model.imageList[0].FileName');">
            <!-- style="height: inherit;"
        <figure>
            <img class=" imgright" src="~/Images/@Model.imageList[0].FileName" />
            <figcaption>@Model.imageList[0].Caption</figcaption>
        </figure>
        -->
            <h2 style="visibility: hidden;;">@Html.DisplayFor(model => model.textList[1].Section)</h2>
            <p style="visibility: hidden;">@Html.DisplayFor(model => model.textList[1].Body)</p>
        </div>
        <div class="col-sm-6 col-sm-pull-6 text-left">
            <h2>@Html.DisplayFor(model => model.textList[1].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[1].Body)</p>
        </div>
    </div>

	<div class="panel panel-primary">
        <div class="panel-heading">Events</div>
        <div class="panel-body">
            <div class="col-sm-12">
                    @foreach (var item in Model.eventList)
                    { 
                       @* if (Model.compareDates(item.EventDate) == true)
                        {*@                       
                                <div class="event">
                                    <div class="item row">
                                        <div class="col-sm-2">
                                            <p class="date">@item.EventDate.ToString("d")</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="title"> @item.EventTitle</p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="eventtime">@Model.ParseMilitaryTime(item.StartTime).ToString("t")</p>
                                        </div>
                                    </div>
                                    <div class="description row text-left">
                                        <div class="col-sm-12">
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                </div>
                        @*}*@
                    }
                </div>
            </div>
        </div>



    <div class="row">
        <div class="col-sm-5 text-left">
            <figure>
                <img src="~/Images/@Model.imageList[1].FileName" />
                <figcaption>@Model.imageList[1].Caption</figcaption>
            </figure>
        </div>
        <div class="col-sm-7 text-left">
            <h2>@Html.DisplayFor(model => model.textList[2].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[2].Body)</p>

        </div>
    </div>