@model SARDT.Models.PublicVM

    @{
        ViewBag.Title = "Home";
    }

    @Html.ActionLink("Im just here for testing purposes", "EditText", "WebContent")

    <!-- Jumbotron -->
    <div class="jumbotron">
        <p>
            @if (Model.currentVideo.Title != "invalid" && Model.currentVideo.URL != "invalid")
            {
                <iframe width="420" height="315" src="@Model.currentVideo.URL"></iframe>
            }
        </p>
        <div class="welcome row">
            <div class="col-sm-12 text-left">
                <h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
                <p>@Html.DisplayFor(model => model.textList[0].Body)</p>
            </div>
        </div>
    </div>



    <div class="news row">
        <div class="col-sm-7">
            <h2>@Html.DisplayFor(model => model.textList[1].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[1].Body)</p>
        </div>

        <div class="col-sm-5">
            <figure>
                <img src="~/Images/@Model.imageList[0].FileName" />
                <figcaption>@Model.imageList[0].Caption</figcaption>
            </figure>
        </div>
    </div>

	<div class="events container">
        <h2>Events</h2>
        <div class="col-sm-12">
            @foreach (var item in Model.eventList)
            {
                <div class="event">
                    <div class="item row">
                        <div class="col-xs-6">
                            <p class ="title">@item.EventDate.ToString("d") - @item.EventTitle</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="eventdate">@Model.ParseMilitaryTime(item.StartTime).ToString("t")</p>
                        </div> 
                    </div>
                    <div class="description row">
                        <div class="col-xs-6">
                            <div class="col-xs-3">&nbsp;</div>
                            <p>@item.Description</p>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>
                    </div>
                </div>
            }
            <br /><br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <figure>
                <img src="~/Images/@Model.imageList[1].FileName" />
                <figcaption>@Model.imageList[1].Caption</figcaption>
            </figure>
        </div>
        <div class="col-sm-7">
            <h2>@Html.DisplayFor(model => model.textList[2].Section)</h2>
            <p>@Html.DisplayFor(model => model.textList[2].Body)</p>

        </div>
    </div>